@model Dashboard.Models.ProjeTakip.PersonelProje

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                        <g id="Icon" transform="translate(27.000000, 15.000000)">
                                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <use fill="#696cff" xlink:href="#path-1"></use>
                                                <g id="Path-3" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-3"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                                </g>
                                                <g id="Path-4" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-4"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                                </g>
                                            </g>
                                            <g id="Triangle"
                                               transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                                <use fill="#696cff" xlink:href="#path-5"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                            </g>
                                        </g>
                                    </g>
                                </g>

                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                     preserveAspectRatio="xMidYMid meet">
                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                       fill="#000000" stroke="none">
                                        <path d="M220 3979 c-36 -4 -80 -11 -98 -14 l-32 -6 2 -1492 3 -1492 50 -7
            c108 -16 355 -27 445 -19 83 7 108 14 200 56 329 151 601 389 898 785 64 85
            136 181 160 212 24 32 40 58 35 58 -4 0 -39 -27 -76 -60 -282 -248 -569 -392
            -883 -445 -54 -9 -126 -15 -159 -13 l-60 3 0 920 0 920 94 -2 c297 -8 625
            -129 897 -330 121 -90 324 -295 418 -421 42 -57 76 -108 76 -113 0 -29 38 8
            132 126 57 72 136 170 177 218 86 102 91 80 -50 234 -459 501 -1022 798 -1669
            878 -133 16 -446 19 -560 4z" />
                                        <path d="M4455 3980 c-77 -9 -180 -46 -320 -117 -306 -154 -610 -429 -906
            -818 -85 -112 -279 -395 -279 -407 0 -4 17 11 37 34 74 86 230 241 303 302
            307 257 685 414 1099 457 185 19 513 0 634 -37 16 -5 17 13 17 279 l0 285 -42
            6 c-161 24 -401 31 -543 16z" />
                                        <path d="M3637 2743 c-4 -3 -7 -132 -7 -285 l0 -278 405 0 405 0 -2 -317 -3
            -318 -55 -3 c-90 -5 -271 16 -392 47 -315 80 -603 272 -831 556 -93 116 -170
            231 -222 336 l-37 73 -22 -27 c-12 -15 -53 -78 -91 -140 -37 -61 -104 -170
            -147 -241 -43 -71 -77 -134 -75 -140 8 -19 197 -227 282 -309 475 -465 1072
            -727 1730 -762 110 -6 323 5 424 21 l41 7 0 887 c0 792 -2 889 -15 894 -22 8
            -1380 7 -1388 -1z" />
                                 

                                    @*<svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
            </defs>*@
                                    @*<g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                    <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <use fill="#696cff" xlink:href="#path-1"></use>
                            <g id="Path-3" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-3"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                            </g>
                            <g id="Path-4" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-4"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                            </g>
                        </g>
                        <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                            <use fill="#696cff" xlink:href="#path-5"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                    </g>
                </g>
            </g>*@
                                </svg>
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">DijitalGen</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Görev Atama Programı 🚀</h4>
                    <p class="mb-4">Bu sayfadan personellerinize görev atayabilirsiniz!</p>

                    <form action="/PersonelProje/Create" method="post">

                        <div class="form-group">
                            <label>Proje Başlığı</label>
                            <input class="form-control" name="ProjeIsim" type="text" placeholder="Lütfen Proje Başlığını Giriniz" />

                        </div>

                        <div class="form-group">
                            <label>Proje Açıklaması</label>
                            <input class="form-control" name="ProjeAcıklama" type="text" placeholder="Lütfen Proje Açıklaması Giriniz" />

                        </div>



                        <div class="mb-3 col-md-12">
                            <label>
                                Öncelik Durumu
                            </label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                <select name="PriorityStatus" class="form-control" required>
                                    <option value="Seçiniz">Seçiniz</option>
                                    <option value="Yüksek Öncelikli">Yüksek Öncelikli</option>
                                    <option value="Orta Öncelikli">Orta Öncelikli</option>
                                    <option value="Düşük Öncelikli">Düşük Öncelikli</option>

                                </select>
                            </div>

                        </div>
                        <div id="insert-section">
                            <div id="personel-select">
                                <div class="form-group">
                                    @Html.DropDownList("PersonelBilgiId", null, htmlAttributes: new { @class = "form-control" })
                                    <i onclick="PersonelEkle()" class="bx bx-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Proje Oluştur</button>
                            <a href="/PersonelProjes/Index/" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
                        </div>


                    </form>

                    <p class="text-center">
                        <span>Herhangi bir sorunuz mu var?</span>
                        <a href="#">
                            <span>dijitalgen.com</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>




<script>
    var parentDiv = $("#insert-section");
    var oldSelectDiv = $("#personel-select");
    function PersonelEkle() {
        var newSelectDiv = oldSelectDiv.clone(true);
        oldSelectDiv.find(".bx plus").remove();
        parentDiv.append(newSelectDiv);
        oldSelectDiv = newSelectDiv;
    }
</script>